.Notification .offcanvas-body {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100%;
}

.Notification .button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.Notification .issue-date {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2%;
}

.Notification .issue-container .issue-msg-time {
  display: flex;
  flex-direction: row;
}

.Notification .issue-container .issue-msg-time .issue-msg {
  /* margin-left: 0.5rem; */
}

.Notification .issue-container .issue-msg-time .issue-time {
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
  color: gray;
}

.Notification .issue-container .issue-img-content {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}

.Notification .issue-container .issue-img-content .issue-content {
  margin-right: 0.5rem;
}

.Notification .issue-container .issue-img-content .checkImg {
  margin-right: 1rem;
  width: 1.4rem;
  height: auto;
}

.checkImg:hover {
  cursor: pointer;
  scale: 1.1;
}

.Notification .issue-container .issue-img-content .checkedImg {
  margin-right: 1rem;
  width: 1.4rem;
  height: auto;
}

.Notification .issue-container .issue-status {
  margin-left: 2rem;
}