.RegisterForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.RegisterForm .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.RegisterForm .logo-center {
    width: 125px;
    height: auto;
    margin-bottom: 2rem;
}

.RegisterForm .form-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 350px;
    align-items: center;
}

.RegisterForm input {
    padding: 0.5rem;
    border-radius: 7px;
    background-color: #f0f0f0;
    border: none;
}
.RegisterForm .isGitHubReg {
    background-color: #d6d6d6;
}

.RegisterForm .subform-container {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.RegisterForm input {
    padding: 0.5rem;
    width: 250px;
}

.RegisterForm .email-container {
    display: flex;
    flex-direction: row;
}

.RegisterForm .check-button {
    width: 70px;
    height: 40px;
    margin-left: 5%;
}

.RegisterForm .checknum-container {
    display: flex;
    flex-direction: row;
}

.RegisterForm .subform-container div:first-child {
    width: 350px;
}

.RegisterForm .register-button {
    margin-top: 10%;
    width: 100px;
}

.RegisterForm .check-button,
.RegisterForm .register-button {
    background-color: rgba(89, 57, 223, 0.7);
    color: white;
    border: none;
}

.RegisterForm .message {
    position: absolute;
    top: 70px;
    left: 0;
}
