.ProjectBoard {
    margin-top: 2%;
    width: 100%;
    height: 100%;
    margin-right: 4%;
    display: flex;
    flex-direction: column;
}

.ProjectBoard .ProjectBoardName {
}

.ProjectBoard .project-board {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    overflow: auto;
    width: 100%;
}

.ProjectBoard .BoardColumn {
    padding: 10px;
    padding-top: 10%;
    width: 90%;
    height: fit-content;
    min-height: 90%;
    overflow-y: auto;
    background-color: #f4f1ff;
}

.ProjectBoard .BoardColumn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2%;
}

.ProjectBoard .BoardColumn-title {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.ProjectBoard .create-issue-btn {
    border-color: #7a61d4;
    background-color: transparent;
    border: none;
    color: transparent;
    padding: 5px 15px;
    text-align: center;
    font-size: 1.2rem;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 10px;
    font-weight: 600;
}

.ProjectBoard .create-issue-btn:hover {
    /* border: 1px solid #7a61d4; */
    background-color: transparent;
    color: #7a61d4;
    font-weight: 600;
}
.ProjectBoard .create-issue-btn:active {
    /* border: 1px solid #7a61d4; */
    background-color: transparent;
    color: #7a61d4;
    font-weight: 600;
}

.BoardColumn .BoardIssue {
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 5%;
    padding: 5%;
    height: 150px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.BoardColumn .BoardIssue .BoardIssueIMG {
    margin-top: 5px;
}

.BoardColumn .BoardIssue .BoardIssueContent {
    font-weight: bold;
}
