.LeftNavSection {
  display: flex;
  height: 100vh;
  margin-left: 3%;
  margin-top: 7%;
}
.LeftNavSection .container {
  display: flex;
  margin: 4%;
  padding: 4%;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 500px;
  border-radius: 50px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
