.LeftTeamSection {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #e9e3f5;
}

.LeftTeamSection .container {
  display: flex;
  margin: 4%;
  padding: 4%;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: fit-content;
  border-radius: 50px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.LeftTeamSection .all-button,
.LeftTeamSection .private-button {
  width: 100px;

  margin-bottom: 10px;
}

.LeftTeamSection .teams {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.LeftTeamSection .teamWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 135px;
  justify-content: space-between;
}

.LeftTeamSection .teamSettingBtn {
  cursor: pointer;
}

.LeftTeamSection .teams Button {
  width: 110px;
}
